.content-box{
    grid-column: 1 / span 2;
    background-color: hsl(90, 70%, 90%);

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;

    overflow: auto;
}

@media (min-width: 620px){
    .content-box {
        grid-column: 2 / span 1;
    }
}