.mission-statement {
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 10px;
    background-color: hsl(60, 10%, 90%)
}

.mission-statement__statement{
    text-align: center;
}