.header{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    background-color: hsl(100, 50%, 50%);
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-row: 10vh;
    align-items: center;
}

.header__title{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    margin: 0;
}

.header__toggle-modal-btn {
    grid-column: 3 / span 1;
    justify-self: right;
    background-color: hsl(150, 80%, 27%);
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding: 8px;
}

.header__toggle-modal-btn:hover {
    background-color: hsl(150, 80%, 25%);
}

@media (min-width: 620px){
    .header {
        grid-template-columns: 20vw 60vw 20vw;
    }
}