.header{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    background-color: hsl(100, 50%, 50%);
    display: grid;
    grid-template-columns: 25vw 15vw 60vw;
    grid-template-rows: 50px;
    align-items: center;
}

.header__title{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    font-size: 35px;
    margin: 0;
}

.header__btn-box {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;

    display: flex;
    justify-content: right;
}

.header__menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__toggle-modal-btn {
    background-color: hsl(150, 80%, 27%);
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 2px;
    font-size: 14px;
    padding: 8px;
    transition: 200ms;
}

.header__toggle-modal-btn:hover {
    background-color: hsl(150, 80%, 25%);
    transition: 200ms;
}

@media (min-width: 620px){
    .header {
        grid-template-columns: 46vw 8vw 46vw;
    }
}