.toggle-sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: left;
    margin-left: 10px;
}

@media (min-width: 600px){
    .toggle-sidebar {
        display: none;
    }
}