.toggle-sidebar {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-flow: row wrap;
    row-gap: 6px;
    align-content: center;
    justify-content: center;
    width: 52px;
    height: 29px;
    cursor: pointer;
}

.toggle-sidebar__line {
    /* margin: 0; */
    /* padding: 0; */
    height: 0px;
    width: 30px;
    background-color: black;
    border: solid;
    border-radius: 2px;
    border-color: black;
    border-width: thin;
}

@media (min-width: 620px){
    .toggle-sidebar {
        display: none;
    }
}