.toggle-sidebar {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 30px;
    cursor: pointer;
}

.toggle-sidebar__line {
    height: 0px;
    width: 32px;
    background-color: black;
    border: solid;
    border-radius: 2px;
    border-color: black;
    border-width: thin;
}

@media (min-width: 620px){
    .toggle-sidebar {
        display: none;
    }
}