.sidebar{
    display: none;
}

@media (min-width: 620px){
   .sidebar {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background-color: hsl(90, 50%, 80%);
    display: block;
    padding: 5px;
   }
}